[[source]]

verify_ssl = true
url = "http://pypi.douban.com/simple"
name = "pypi"


[dev-packages]



[packages]

flask = "*"
wtforms = "*"
flask-sqlalchemy = "*"
pymysql = "*"
requests = "*"
pycryptodome = "*"
itsdangerous = "*"
flask-login = "*"
flask-restful = "*"

[requires]

python_version = "3.5"
