[[source]]

 url = "https://pypi.tuna.tsinghua.edu.cn/simple"
 verify_ssl = true
 name = "pypi"


[dev-packages]



[packages]

flask = "*"
wtforms = "*"
flask-sqlalchemy = "*"
pymysql = "*"
requests = "*"
pycryptodome = "*"
itsdangerous = "*"
flask-login = "*"
flask-restful = "*"
"bs4" = "*"


[requires]

python_version = "3.5"
